@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

:root {
  --text-color: #8bb4ff;
  --gray-color: #526b99;
  --background-color: #101010;
}


html {
  cursor: url("./cursor1.png") 40 45, auto;
}

body {
  padding: 10vw 3.333vw;
  padding-bottom: 13.333vw;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: -0.1vw;
  background-color: var(--background-color);
  color: white;

}

.name {
  line-height: 5.208vw;
  font-size: 6.444vw;
}

.subname {
  line-height: 5.208vw;
  font-size: 3.444vw;
  color: #8bb4ff;
}

.block {
  margin-top: 13.333vw;
}

.block-title {
  color:   #526b99;
  line-height: 5.208vw;
  font-size: 4.444vw;
  margin-bottom: 3.333vw;
}

.entry {
  line-height: 7.814vw;
  font-size: 6.667vw;
  margin-bottom: 1.667vw;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: url("./cursor2.png") 40 45, auto;
}

a:hover {
  color: var(--gray-color);
}
